In [30]:
import pandas as pd
import glob

In [48]:
clean_TAC_files = glob.glob('../acceweka-ds/bar-crawl/*_clean_TAC.csv')
df_list = []
for name in clean_TAC_files:
    df_label = pd.read_csv(name)
    pid = name.split('/')[-1][:6]
    df_label['pid'] = pid
    df_list.append(df_label)

df_label = pd.concat(df_list)
df_label['timestamp'] = df_label['timestamp'] * 1000
df_data = pd.read_csv('../acceweka-ds/bar-crawl/Bar_Crawl.csv')
df_data = df_data.rename(columns={'time':'timestamp'})
df = pd.merge_asof(df_data, df_label.sort_values('timestamp'), on='timestamp', by='pid', direction='nearest')

In [52]:
df.to_csv('../acceweka-ds/bar-crawl/Bar_Crawl_Labeled.csv', index=False)

In [59]:
df['label'] = df['label'].astype(int)

In [60]:
df.head()

       timestamp     pid       x       y       z  TAC_Reading  label
0              0  JB3156  0.0000  0.0000  0.0000     0.002387      0
1              0  CC6740  0.0000  0.0000  0.0000     0.003947      0
2  1493733882409  SA0297  0.0758  0.0273 -0.0102     0.032672      0
3  1493733882455  SA0297 -0.0359  0.0794  0.0037     0.032672      0
4  1493733882500  SA0297 -0.2427 -0.0861 -0.0163     0.032672      0

In [61]:
df['label']

3399189

In [62]:
len(df['label'])

14057567

In [64]:
df[['timestamp','pid','x','y','z','label']].to_csv('../acceweka-ds/bar-crawl/Bar_Crawl_Labeled.csv', index=False)

In [65]:
df = pd.read_csv('../acceweka-ds/physical/6xor_64bit/train_6xor_64dim.csv', header=None)

In [66]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,1,1,-1,1,-1,-1,-1,1,1,-1,...,1,1,1,1,1,1,1,1,-1,1
1,-1,1,1,1,1,1,1,1,-1,-1,...,-1,1,-1,1,-1,1,1,-1,1,-1
2,-1,-1,1,1,-1,1,1,1,1,-1,...,1,-1,1,-1,1,-1,-1,-1,1,1
3,1,-1,-1,1,-1,1,1,1,-1,1,...,1,-1,1,-1,1,-1,-1,1,-1,-1
4,1,1,1,-1,-1,-1,-1,1,1,-1,...,-1,1,-1,1,-1,1,-1,-1,1,1

In [67]:
df.to_csv('../acceweka-ds/physical/6xor_64bit/train_6xor_64dim.csv', index=False)

In [68]:
df = pd.read_csv('../acceweka-ds/physical/6xor_64bit/test_6xor_64dim.csv', header=None)

In [69]:
df.to_csv('../acceweka-ds/physical/6xor_64bit/test_6xor_64dim.csv', index=False)